:root{
    --metales-alcalinos:#FFC692;
    --alcalinoterreos:#FFE092;
    --otros-metales:#FFF992;
    --metales-de-transcision:#EDFF92;
    --lantanidos:#D3FF92;
    --actinidos:#B9FF92;
    --metaloides:#92FF9F;
    --no-metales:#AC92FF;
    --halogenos:#F992FF;
    --gases-nobles:#92E0FF;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50rem;
}

.tabla {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    background-color: #000;
    padding: 1rem;
}

.Celda{
    width: 3rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.H  { grid-area: 1 / 1 / 2 / 2; }
.He { grid-area: 1 / 18 / 2 / 19; }

.Li { grid-area: 2 / 1 / 3 / 2; }
.Be { grid-area: 2 / 2 / 3 / 3; }
.B  { grid-area: 2 / 13 / 3 / 14; }
.C  { grid-area: 2 / 14 / 3 / 15; }
.N  { grid-area: 2 / 15 / 3 / 16; }
.O  { grid-area: 2 / 16 / 3 / 17; }
.F  { grid-area: 2 / 17 / 3 / 18; }
.Ne { grid-area: 2 / 18 / 3 / 19; }

.Na { grid-area: 3 / 1 / 4 / 2; }
.Mg { grid-area: 3 / 2 / 4 / 3; }
.Al { grid-area: 3 / 13 / 4 / 14; }
.Si { grid-area: 3 / 14 / 4 / 15; }
.P  { grid-area: 3 / 15 / 4 / 16; }
.S  { grid-area: 3 / 16 / 4 / 17; }
.Cl { grid-area: 3 / 17 / 4 / 18; }
.Ar { grid-area: 3 / 18 / 4 / 19; }

.K  { grid-area: 4 / 1 / 5 / 2; }
.Ca { grid-area: 4 / 2 / 5 / 3; }
.Sc { grid-area: 4 / 3 / 5 / 4; }
.Ti { grid-area: 4 / 4 / 5 / 5; }
.V  { grid-area: 4 / 5 / 5 / 6; }
.Cr { grid-area: 4 / 6 / 5 / 7; }
.Mn { grid-area: 4 / 7 / 5 / 8; }
.Fe { grid-area: 4 / 8 / 5 / 9; }
.Co { grid-area: 4 / 9 / 5 / 10; }
.Ni { grid-area: 4 / 10 / 5 / 11; }
.Cu { grid-area: 4 / 11 / 5 / 12; }
.Zn { grid-area: 4 / 12 / 5 / 13; }
.Ga { grid-area: 4 / 13 / 5 / 14; }
.Ge { grid-area: 4 / 14 / 5 / 15; }
.As { grid-area: 4 / 15 / 5 / 16; }
.Se { grid-area: 4 / 16 / 5 / 17; }
.Br { grid-area: 4 / 17 / 5 / 18; }
.Kr { grid-area: 4 / 18 / 5 / 19; }

.Rb { grid-area: 5 / 1 / 6 / 2; }
.Sr { grid-area: 5 / 2 / 6 / 3; }
.Y  { grid-area: 5 / 3 / 6 / 4; }
.Zr { grid-area: 5 / 4 / 6 / 5; }
.Nb { grid-area: 5 / 5 / 6 / 6; }
.Mo { grid-area: 5 / 6 / 6 / 7; }
.Tc { grid-area: 5 / 7 / 6 / 8; }
.Ru { grid-area: 5 / 8 / 6 / 9; }
.Rh { grid-area: 5 / 9 / 7 / 10; }
.Pd { grid-area: 5 / 10 / 6 / 11; }
.Ag { grid-area: 5 / 11 / 6 / 12; }
.Cd { grid-area: 5 / 12 / 6 / 13; }
.In { grid-area: 5 / 13 / 6 / 14; }
.Sn { grid-area: 5 / 14 / 6 / 15; }
.Sb { grid-area: 5 / 15 / 6 / 16; }
.Te { grid-area: 5 / 16 / 6 / 17; }
.I  { grid-area: 5 / 17 / 6 / 18; }
.Xe { grid-area: 5 / 18 / 6 / 19; }


.Cs { grid-area: 6 / 1 / 7 / 2; }
.Ba { grid-area: 6 / 2 / 7 / 3; }
.Lu { grid-area: 6 / 3 / 7 / 4; }
.Hf { grid-area: 6 / 4 / 7 / 5; }
.Ta { grid-area: 6 / 5 / 7 / 6; }
.W  { grid-area: 6 / 6 / 7 / 7; }
.Re { grid-area: 6 / 7 / 7 / 8; }
.Os { grid-area: 6 / 8 / 7 / 9; }
.Ir { grid-area: 6 / 9 / 7 / 10; }
.Pt { grid-area: 6 / 10 / 7 / 11; }
.Au { grid-area: 6 / 11 / 7 / 12; }
.Hg { grid-area: 6 / 12 / 7 / 13; }
.Tl { grid-area: 6 / 13 / 7 / 14; }
.Pb { grid-area: 6 / 14 / 7 / 15; }
.Bi { grid-area: 6 / 15 / 7 / 16; }
.Po { grid-area: 6 / 16 / 7 / 17; }
.At { grid-area: 6 / 17 / 7 / 18; }
.Rn { grid-area: 6 / 18 / 7 / 19; }


.Fr { grid-area: 7 / 1 / 8 / 2; }
.Ra { grid-area: 7 / 2 / 8 / 3; }
.Lr { grid-area: 7 / 3 / 8 / 4; }
.Rf { grid-area: 7 / 4 / 8 / 5; }
.Db { grid-area: 7 / 5 / 8 / 6; }
.Sg { grid-area: 7 / 6 / 8 / 7; }
.Bh { grid-area: 7 / 7 / 8 / 8; }
.Hs { grid-area: 7 / 8 / 8 / 9; }
.Mt { grid-area: 7 / 9 / 8 / 10; }
.Ds { grid-area: 7 / 10 / 8 / 11; }
.Rg { grid-area: 7 / 11 / 8 / 12; }
.Cn { grid-area: 7 / 12 / 8 / 13; }
.Nh { grid-area: 7 / 13 / 8 / 14; }
.Fl { grid-area: 7 / 14 / 8 / 15; }
.Mc { grid-area: 7 / 15 / 8 / 16; }
.Lv { grid-area: 7 / 16 / 8 / 17; }
.Ts { grid-area: 7 / 17 / 8 / 18; }
.Og { grid-area: 7 / 18 / 8 / 19; }


.La { grid-area: 9 / 3 / 10 / 4; }
.Ce { grid-area: 9 / 4 / 10 / 5; }
.Pr { grid-area: 9 / 5 / 10 / 6; }
.Nd { grid-area: 9 / 6 / 10 / 7; }
.Pm { grid-area: 9 / 7 / 10 / 8; }
.Sm { grid-area: 9 / 8 / 10 / 9; }
.Eu { grid-area: 9 / 9 / 10 / 10; }
.Gd { grid-area: 9 / 10 / 10 / 11; }
.Tb { grid-area: 9 / 11 / 10 / 12; }
.Dy { grid-area: 9 / 12 / 10 / 13; }
.Ho { grid-area: 9 / 13 / 10 / 14; }
.Er { grid-area: 9 / 14 / 10 / 15; }
.Tm { grid-area: 9 / 15 / 10 / 16; }
.Yb { grid-area: 9 / 16 / 10 / 17; }

.Ac { grid-area: 10 / 3 / 11 / 4; }
.Th { grid-area: 10 / 4 / 11 / 5; }
.Pa { grid-area: 10 / 5 / 11 / 6; }
.U  { grid-area: 10 / 6 / 11 / 7; }
.Np { grid-area: 10 / 7 / 11 / 8; }
.Pu { grid-area: 10 / 8 / 11 / 9; }
.Am { grid-area: 10 / 9 / 11 / 10; }
.Cm { grid-area: 10 / 10 / 11 / 11; }
.Bk { grid-area: 10 / 11 / 11 / 12; }
.Cf { grid-area: 10 / 12 / 11 / 13; }
.Es { grid-area: 10 / 13 / 11 / 14; }
.Fm { grid-area: 10 / 14 / 11 / 15; }
.Md { grid-area: 10 / 15 / 11 / 16; }
.No { grid-area: 10 / 16 / 11 / 17; }



.H, .C, .N, .O, .P, .S, .Se{
    background-color: var(--no-metales);
}
.Li, .Na, .K, .Rb, .Cs, .Fr{
    background-color: var(--metales-alcalinos);
}
.Be,.Mg,.Ca,.Sr,.Ba,.Ra{
    background-color: var(--alcalinoterreos);
}
.Sc,.Ti,.V,.Cr,.Mn,.Fe,.Co,.Ni,.Cu,.Zn,.Y,.Zr,.Lu,.Lr,.Nb,.Mo,.Tc,.Ru,.Rh,.Pd,.Ag,.Cd,.Hf,.Ta,.W,.Re,.Os,.Ir,.Pt,.Au,.Hg,.Rf,.Db,.Sg,.Bh,.Hs,.Mt,.Ds,.Rg,.Cn{
    background-color: var(--metales-de-transcision);
}
.Al,.Ga,.In,.Sn,.Tl,.Pb,.Bi,.Nh,.Fl,.Mc,.Lv{
    background-color: var(--otros-metales);
}
.B,.Si,.Ge,.As,.Sb,.Te,.Po{
    background-color: var(--metaloides);
}
.F,.Cl,.Br,.I,.At,.Ts{
    background-color: var(--halogenos);
}
.He,.Ne,.Ar,.Kr,.Xe,.Rn,.Og{
    background-color: var(--gases-nobles);
}
.La,.Ce,.Pr,.Nd,.Pm,.Sm,.Eu,.Gd,.Tb,.Dy,.Ho,.Er,.Tm,.Yb{
    background-color: var(--actinidos);
}
.Ac,.Th,.Pa,.U,.Np,.Pu,.Am,.Cm,.Bk,.Cf,.Es,.Fm,.Md,.No{
    background-color: var(--lantanidos);
}